<!-- header -->
<div class="wrapper bg-light lter b-b">
    <div class="btn-group m-r-sm">
        <a ng-click="toDetail()" class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Back"><i class="fa fa-arrow-left"></i></a>
        <a ng-click="updateSiswa(EditSiswa)" class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Create"><i class="fa fa-save"></i></a>

    </div>
    <span class="pull-right"><b>{{breadCrumb}}</b></span>
</div>
<!-- / header -->

<div class="wrapper">
    <div class="row form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">
                    No Induk <b class="text-danger">*</b>
                </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-sm" placeholder="no Induk" ng-model="EditSiswa.$id" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">
                    Nama Depan <b class="text-danger">*</b>
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" placeholder="Nama Depan" ng-model="EditSiswa.NamaDepan">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">Nama Belakang </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" placeholder="Nama Belakang" ng-model="EditSiswa.NamaBelakang">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">
                    TTL <b class="text-danger">*</b>
                </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-sm" placeholder="Tempat Lahir" ng-model="EditSiswa.TempatLahir">
                </div>
                <div class="col-lg-5">
                    <input type="date" class="form-control input-sm" ng-model="date.TglLahir">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4 input-sm">
                    &nbsp;Tertulis :
                    <b>{{EditSiswa.TempatLahir}}, {{getTglLengkap(date.TglLahir)}}</b>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">Jenis Kelamin <b class="text-danger">*</b> / Gol Darah</label>
                <div class="col-lg-4">
                    <select class="form-control input-sm" ng-model="EditSiswa.JnsKelamin">
                        <option value="">(Jenis Kelamin)</option>
                        <option value="L">Laki-Laki</option>
                        <option value="P">Perempuan</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control input-sm" ng-model="EditSiswa.GolDarah">
                        <option value="">(Golongan Darah)</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="A+">A+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="B+">B+</option>
                        <option value="AB">AB</option>
                        <option value="AB-">AB-</option>
                        <option value="AB+">AB+</option>
                        <option value="O">O</option>
                        <option value="O-">O-</option>
                        <option value="O+">O+</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">Kewarganegaraan <b class="text-danger">*</b> / Agama <b class="text-danger">*</b>
                </label>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-sm" ng-model="EditSiswa.Kewarganegaraan">
                </div>
                <div class="col-lg-4">
                    <select class="form-control input-sm" ng-model="EditSiswa.Agama">
                        <option value="">(Agama)</option>
                        <option value="Kristen Protestan">Kristen Protestan</option>
                        <option value="Kristen Katolik">Kristen Katolik</option>
                        <option value="Khonghucu">Khonghucu</option>
                        <option value="Islam">Islam</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Budha">Budha</option>
                        <option value="Kepercayaan">Kepercayaan</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">Iuran Sekolah <b class="text-danger">*</b>
                </label>
                <div class="col-lg-4">
                    <input type="number" class="form-control input-sm" placeholder="Iuran Sekolah" ng-model="EditSiswa.IuranSekolah">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label input-sm">Iuran Pembangunan <b class="text-danger">*</b>
                </label>
                <div class="col-lg-4">
                    <input type="number" class="form-control input-sm" placeholder="Iuran Pembangunan" ng-model="EditSiswa.IuranPembangunan">
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Tgl Masuk Sekolah</label>
                <div class="col-lg-5">
                    <input type="date" class="form-control input-sm" ng-model="date.TglMasukSekolah">
                </div>
                <label class="col-lg-1 control-label input-sm">Pindahan</label>
                <div class="col-lg-2">
                    <input type="checkbox" class="form-control input-sm" ng-model="EditSiswa.Pindahan">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3 input-sm">
                    &nbsp;Tertulis :
                    <b>{{getTglLengkap(date.TglMasukSekolah)}}</b>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Status <b class="text-danger">*</b>
                </label>
                <div class="col-lg-4">
                    <select class="form-control input-sm" ng-model="EditSiswa.Status">
                        <option value="">(Status)</option>
                        <option value="Aktif">Aktif</option>
                        <option value="Lulus">Lulus</option>
                        <option value="Keluar">Keluar</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Data Ayah</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control input-sm" placeholder="Nama Ayah" ng-model="EditSiswa.NamaAyah">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-sm" placeholder="Pekerjaan" ng-model="EditSiswa.PekerjaanAyah">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Data Ibu</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control input-sm" placeholder="Nama Ibu" ng-model="EditSiswa.NamaIbu">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-sm" placeholder="Pekerjaan" ng-model="EditSiswa.PekerjaanIbu">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Data Wali</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control input-sm" placeholder="Nama Wali" ng-model="EditSiswa.NamaWali">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-sm" placeholder="Pekerjaan" ng-model="EditSiswa.PekerjaanWali">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Alamat Ortu / Wali</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control input-sm" placeholder="Alamat Ortu / Wali" ng-model="EditSiswa.AlamatOrtuWali">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">No Kontak Ortu / Wali</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control input-sm" placeholder="No HP" ng-model="EditSiswa.NoHpOrtuWali">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-sm" placeholder="No Tlp Kantor" ng-model="EditSiswa.MpKantorOrtuWali">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label input-sm">Keterangan</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control input-sm" placeholder="Keterangan" ng-model="EditSiswa.Keterangan">
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-2 text-danger">
                    Keterangan: Tanda <a ng-click="delSiswa()" class="text-danger">*</a> Wajib Diisi
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5 col-lg-offset-2">
                    <a ng-click="toDetail()" class="btn btn-default w-xs">Back</a>
                    <button class="btn btn-success w-xs" ng-click="updateSiswa(EditSiswa)">Update</button>
                </div>
                <div class="col-lg-5 text-danger">
                    <b ng-show="errMsg">Error: {{errMsg}}</b>
                </div>
            </div>
        </div>




    </div>
</div>
