<img src="img/header.png" class="img-responsive " style="margin: 0 auto; margin-top:25px;" alt="">
<div class="wrapper-md ng-scope">

    <div class="row">
        <div class="col-md-12">
            <div class="row row-sm text-center">

                <div class="col-sm-3">
                    <a ui-sref="app.home" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-home"></i>
                        </span>
                        <span class="text-muted text-md">HOME</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/#/app/datasiswa/3700000000000300336" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-users"></i>
                        </span>
                        <span class="text-muted text-md">DATA SISWA</span>
                      
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.iuransekolah" class="block panel padder-v bg-info item" >
                        <span class="text-white font-thin h1 block"><i class="fa fa-area-chart"></i>
                        </span>
                        <span class="text-muted text-md">IURAN SEKOLAH</span>
                     
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.iuranpembangunan" class="block panel padder-v bg-dark item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-building"></i>
                        </span>
                        <span class="text-muted text-md">IURAN PEMBANGUNAN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.smstunggakan" class="block panel padder-v bg-primary item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-edit"></i>
                        </span>
                        <span class="text-muted text-md">SMS TUNGGAKAN</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.smspengumuman" class="block panel padder-v bg-success item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-volume-up"></i>
                        </span>
                        <span class="text-muted text-md">SMS PENGUMUMAN</span>
                        
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="app.configs" class="block panel padder-v bg-info item" >
                        <span class="text-white font-thin h1 block"><i class="fa fa-cogs"></i>
                        </span>
                        <span class="text-muted text-md">CONFIGS</span>
                       
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ng-href="https://www.facebook.com/{{User.facebook.id}}" target="_blank" class="block panel padder-v bg-dark item">
                        <span class="text-white font-thin h1 block"><i class="fa fa-user"></i>
                        </span>
                        <span class="text-muted text-md">PROFILE</span>
                       
                    </a>
                </div>
             
                

            </div>
        </div>

    </div>

</div>